<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ONION_Your_Personal_PlantCare_Companion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ONION_Your_Personal_PlantCare_Companion.Properties.Settings>
            <setting name="GoogleAPIKey" serializeAs="String">
                <value>AIzaSyD4M-16yXP2gaFFNKHS1EJqDpzatCqXJqM</value>
            </setting>
            <setting name="PlantIDApiKey" serializeAs="String">
                <value>mRtKzD2V4eaI9hRpxSzvV7UlXKF7SFCKJk84OWy7YPBE7f2rrY</value>
            </setting>
        </ONION_Your_Personal_PlantCare_Companion.Properties.Settings>
    </applicationSettings>
</configuration>